target/
build/
.idea/
*.iml
.gradle
*.prefs
*.class*
*.factorypath
*.project
*.processors
*/bin/
*.editorconfig
*.Module
dependency-reduced-pom.xml
.DS_Store
*avaje-processors.txt
*controllers.txt
tests/test-sigma/io.avaje.jsonb.spi.JsonbExtension
tests/test-sigma/*.txt
tests/test-javalin-jsonb/*.txt
tests/test-nima-jsonb/*.txt
