target/
build/
.idea/
*.iml
.gradle
http-generator-nima/.settings/org.eclipse.m2e.core.prefs
http-generator-nima/.settings/org.eclipse.jdt.core.prefs
http-generator-nima/.settings/org.eclipse.jdt.apt.core.prefs
http-generator-nima/.settings/org.eclipse.core.resources.prefs
http-generator-nima/.project
http-generator-nima/.classpath
*.prefs
tests/test-nima/.classpath
tests/test-nima/.factorypath
tests/test-nima/.project
